* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header {
  height: 800px;
  background: url(/src/img/bg/main_bg.png) center center no-repeat;
  padding: 40px 0 60px 0;
}

.logo .logo-header {
  display: block;
  margin: 0 auto;
}

.logo .logo-discription {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
}

.first-title {
  margin-top: 50px;
}

.second-title {
  margin-top: 20px;
}
.page-title {
  color: #f9bf3b;
  text-align: justify;
  font-size: 41px;
  font-style: normal;
  font-weight: 900;
  line-height: 41px;
  text-transform: uppercase;
  text-align: center;
}

.simple {
  margin-top: 20px;
  display: block;
  color: #fff;
  text-align: justify;
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  line-height: 80px;
  text-transform: uppercase;
  text-align: center;
}

.promo-text {
  margin-top: 20px;
  display: block;
  color: #fff;
  text-align: justify;
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
}

.promo-text-strong {
  color: #f9bf3b;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.header-btn {
  display: block;
  margin: 0 auto;
  margin-top: 70px;
  width: 313px;
  height: 72px;
  flex-shrink: 0;
  background: linear-gradient(0deg, #2798b9 0%, #3ab6da 100%);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  color: #fff;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.more-text {
  margin-top: 70px;
  color: #fff;
  text-align: justify;
  font-size: 15px;
  font-style: normal;
  font-weight: 100;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}

.more-img {
  display: block;
  margin: 0 auto;
  margin-top: 5px;
}

.features {
  display: block;
  margin: 0 auto;
  width: 1920px;
  min-height: 650px;
  background-color: #efefef;
  padding: 85px 0 75px 0;
}

.features-title,
.after-finish-title,
.block-title {
  color: #252525;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.divider {
  margin: 0 auto;
  margin-top: 20px;
  width: 220px;
  height: 7px;
  flex-shrink: 0;
  background-color: #f9bf3b;
}

.features-discription {
  display: block;
  margin: 0 auto;
  margin: 30px;
  color: #4a4a4a;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 21px;
}

.features-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 50px;
  width: 1140px;
}

.feature-items {
  width: 342px;
  text-align: center;
}

.optimization {
  position: relative;
  width: 1440px;
  min-height: 550px;
  display: block;
  margin: 0 auto;
}

.optimization-title {
  margin-top: 108px;
  margin-left: 551px;
  color: #299cbd;
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
  line-height: 30px;
  text-transform: uppercase;
}

.optimization-discription {
  margin-top: 25px;
  margin-left: 550px;
  width: 750px;
  min-height: 312px;
  color: #4a4a4a;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 27px;
}

.optimization-bg {
  position: absolute;
  top: -48px;
  left: -150px;
  z-index: -1;
  width: 868px;
  height: 502px;
}

.after_finish {
  width: 1920px;
  min-height: 447px;
  margin: 0 auto;
  padding: 86px 0 68px 0;
  background: url("/src/img/bg/second_bg.png") center center/cover no-repeat;
}

.after-finish-title {
  color: #efefef;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.after-finish-wrapper {
  width: 1140px;
  margin: 0 auto;
  margin-top: 68px;
  display: flex;
}

.after-finish-item {
  width: 220px;
}

.after-finish-round {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 118px;
  height: 118px;
  background-color: #b4e2ff;
  border-radius: 100%;
}

.after-finish-icon {
  width: 70px;
  height: 70px;
}

.after-finish-discription {
  margin-top: 24px;
  text-align: center;
  color: #efefef;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
}

.bonus-block {
  width: 1920px;
  min-height: 631px;
  margin: 0 auto;
  background: #efefef;
}

.bonus-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 88px;
}

.discription-text {
  width: 1161px;
  height: 113px;
  margin: 0 auto;
  margin-top: 45px;
  color: #252525;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 43px;
}

.bonus-btn {
  margin-top: 51px;
}

.first-vebinar-block {
  width: 1920px;
  min-height: 520px;
  margin: 0 auto;
}

.first-vebinar-block-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 89px;
}

.block-title {
  margin-top: 36px;
}

.first-vebinar-data-block-discription {
  margin-top: 30px;
  text-align: center;
  color: #299cbd;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: 36px;
  text-transform: uppercase;
}

.first-vebinar-block-text {
  margin-top: 25px;
  margin-bottom: 53px;
  text-align: center;
  color: #4a4a4a;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.page-footer {
  width: 1920px;
  height: 169px;
  margin: 0 auto;
  background: #000;
}

.page-footer-text {
  padding-top: 57px;
  text-align: center;
  color: #888;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 21px;
  color: #888;
  text-align: center;
}

.page-footer-confidentiality {
  text-decoration-line: underline;
}